<div class="graph-container pixelated minecraft-background">
    <div class="title-container">
        <div class="title text-node-title">
            {{itemName}}
        </div>
        <div class="id text-node-type">
            {{id}}
        </div>
    </div>

    <div class="line-chart-container">
        <div class="line-chart-title">
            Resources Over Time
        </div>
        <div class="line-chart">
            <ngx-charts-line-chart
                [scheme]="colorSchemeLine"
                [results]="primaryData"
                legend="true"
                legendPosition="bottom"
                xAxis="true"
                yAxis="true"
                showXAxisLabel="true"
                showYAxisLabel="true"
                xAxisLabel="Time"
                yAxisLabel="Amount">
            </ngx-charts-line-chart>
        </div>
    </div>

    <div class="extra-graphs-container">

        <div class="bar-chart-container">
            <div class="bar-chart-title">
                Resource Allocation
            </div>
            <ngx-charts-bar-vertical
                [view]="barView"
                [scheme]="colorSchemeBar"
                [(results)]="secondaryData"
                [gradient]="gradient"
                yAxis="true">
            </ngx-charts-bar-vertical>
        </div>

        <div class="pie-chart-container">
            <div class="pie-chart-title">
                Output Ratios
            </div>
            <ngx-charts-pie-chart
                [view]="pieView"
                [scheme]="colorSchemePie"
                [results]="tertiaryData"
                [gradient]="gradient"
                [labels]="showPieLabels">
            </ngx-charts-pie-chart>
        </div>
    </div>
</div>
