/** Current issue with ngx-charts 
 *    Legend height is not calculated in auto height when using legend="below"
 *    Results in incorrect styling when not defining a view=[x,y] for responsive design
 * 
 *    Current open pull request #1520 on ngx-charts github. Oct 1, 2020
 * 
 *    https://github.com/swimlane/ngx-charts/pull/1520
 */
    
@import '../../../_globals'
    
.graph-container
    margin: 10px
    height: auto

    border: $border-thickness outset $output-highlight
    padding: 5px

    background-color: $output-highlight

    .title-container
        position: relative
        
        .id
            position: absolute
            top: 5px
            right: 5px

    .line-chart-container
        width: 100%
        max-height: 300px
        overflow: hidden

        margin-bottom: 10px
        padding-top: 10px
        padding-bottom: 100px

        border: $border-thickness outset $output-selected
        background-color: $output-selected

        .line-chart-title
            text-align: center

        .line-chart
            width: 100%
            height: 100%
            max-height: 200px

    .extra-graphs-container
        display: flex

        .bar-chart-container
            width: 47.5%

            border: $border-thickness outset $output-selected
            background-color: $output-selected
            float: left

            .bar-chart-title
                text-align: center

        .pie-chart-container
            width: 47.5%
            float: right

            border: $border-thickness outset $output-selected
            background-color: $output-selected
            margin-left: auto

            .pie-chart-title
                text-align: center