<div class="node-browser-wrapper module-margin">
    <div class="node-browser-button-header">
        <button type="button" class="button all pixelated minecraft-background" [ngClass]="filter == 0 ? 'focused' : ''" (click)="onAllClicked()">
            All
        </button>
        <button type="button" class="button resource pixelated minecraft-background" [ngClass]="filter == 1 ? 'focused' : ''" (click)="onResourcesClicked()">
            Resources
        </button>
        <button type="button" class="button crafting pixelated minecraft-background" [ngClass]="filter == 2 ? 'focused' : ''" (click)="onCraftableClicked()">
            Craftable
        </button>
        <button type="button" class="button output pixelated minecraft-background" [ngClass]="filter == 3 ? 'focused' : ''" (click)="onOutputClicked()">
            Output
        </button>
        <button type="button" class="button custom pixelated minecraft-background" [ngClass]="filter == 4 ? 'focused' : ''" (click)="onCustomClicked()">
            Custom Nodes
        </button>
        <div class="right fill search-bar-container">
            <input class="search-bar" type="search" placeholder="search" [(ngModel)]="searchString" (input)="onSearchChange()">
        </div>
    </div>

    <div class="node-browser-grid">
        <div *ngFor="let nodeItem of nodeList">
            <node-browser-item [nodeItem]="nodeItem" [filter]="filter"></node-browser-item>
        </div>
    </div>
</div>
