@import '../../../globals'
@import '../rete_variables'
    
.node-browser-wrapper
    height: $resource-children-height
    min-height: 150px
    border: 5px outset $color-default-dark
    display: flex
    flex-direction: column
    background-color: $color-default
    
.node-browser-button-header
    width: 100%
    padding: 5px

    background-color: $color-default-dark

    .button
        margin-bottom: 5px
        @media ( max-width: 1650px )
            height: 50%
            
        &.all
            background-color: $color-default-highlight
            border-color: $color-default-highlight
            &:active
                background-color: darken($color-default-highlight, 25%)

        &.resource
            background-color: $resource-highlight
            border-color: $resource-highlight
            &:active
                background-color: darken($resource-highlight, 25%)

        &.crafting
            background-color: $crafting-highlight
            border-color: $crafting-highlight
            &:active
                background-color: darken($crafting-highlight, 25%)

        &.output
            background-color: $output-highlight
            border-color: $output-highlight
            &:active
                background-color: darken($output-highlight, 25%)

        &.custom
            background-color: $custom-highlight
            border-color: $custom-highlight
            &:active
                background-color: darken($custom-highlight, 25%)

    .search-bar-container
        width: 7.5vw
        margin-bottom: 5px

        @media ( max-width: 1650px )
            float: left
            width: 100%

        @media ( max-width: 1315px )
            float: right
            width: 50%
            
        @media ( max-width: 950px )
            width: 7.5vw

        .search-bar
            width: 100%
            border: inset 5px $color-default
            padding: 4px 7px
            text-align: right

            &:focus
                outline: none

.node-browser-grid
    width: calc(100% - 5px)
    height: 100%
    margin: 5px
    
    display: inline-grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    grid-auto-rows: max( 6.8vw, 120px)

    @media ( max-width: 1750px )
        grid-template-columns: 1fr 1fr 1fr 1fr

    @media ( max-width: 1450px )
        grid-template-columns: 1fr 1fr 1fr


    column-gap: 5px
    row-gap: 5px

    overflow-y: scroll
    overflow-x: hidden

