<div class="resource-control">
    <div class="image-container">
        <item-image class="center" [selectedItem]="selectedItem" [criticalPath]="criticalPath"></item-image>
    </div>
    <div *ngIf="!disableRate">
        <div class="rate-container">
            <rate-component [readonly]="readonly" [placeholder]="'Per-Hour Rate'" [text]="'/ hour'" (onChange)="onRateChange($event)"></rate-component>
        </div>
    </div>
</div>