@import '../../../_globals'
    
.button-container
    height: $button-height
    width: $button-height

    border: 5px outset lighten($color-default-highlight, 25%)
    background-color: lighten($color-default-highlight, 25%)
    padding: 2px

    display: flex

    &:hover
        cursor: pointer

    &:active
        border-style: inset

    &.disabled
        border-color: darken( $color-default-highlight, 25%)
        background-color: darken(  $color-default-highlight, 25%)

        &:hover
            cursor: not-allowed

    svg
        margin: auto

.path-container
    height: 100%
    width: 100%