<div class="button-container pixelated minecraft-background" [ngClass]="disabled ? 'disabled' : ''" (click)="onClicked($event)" (onmouseover)="onHover.emit($event)"> 
    <svg [attr.width]="size" [attr.height]="size" viewBox="0 0 16 16" class="bi" [ngClass] ="icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path *ngFor="let stroke of strokes" fill-rule="evenodd" [attr.d]="stroke"/>
    </svg>
</div>
