<div class="graph-container">
    <div *ngFor="let node of markedNodes">
        <app-graph-item [node]="node"></app-graph-item>
    </div>

    <div *ngIf="markedNodes.length == 0">
        <div class="no-node-container">
            <div class="no-node-warning">
                No marked output nodes
            </div>
        </div>
    </div>
</div>
