.graph-container
    width: 100%
    height: 100%
    display: block

    .no-node-container
        width: 75%
        height: auto
        margin: auto
        margin-top: 50%

        .no-node-warning
            text-align: center