<div class="output-container pixelated minecraft-background" [ngClass]="getType()" >
    <div class="title-container pixelated minecraft-background" [ngClass]="[getType(), isCriticalPath()]"> 
        <div class="id-container">
            <p>{{getId()}}</p>
        </div>
        <div class="title">
            {{getName()}}
        </div>
    </div>

    <div class="data-container">
        <div class="data-input-container">
            <div class="node-rates" *ngFor="let data of inputs">
                <div class="node-rate-text">{{data.name}}:</div> 
                <input type="text"
                readonly="true"
                placeholder="N/A"
                [ngModel]="data.rate | number: '1.2-2'">
            </div>

        </div>

        <div class="data-output-container">
            <div class="node-rates" *ngFor="let data of outputs">
                <div class="node-rate-text">{{data.name}}:</div> 
                <input type="text"
                readonly="true"
                placeholder="N/A"
                [ngModel]="data.rate | number: '1.2-2'" (ngModelChange)="data.rate=$event">
            </div>
        </div>

        <div class="clear"></div>
    </div>

    <div class="dropdown-container" *ngIf="showDropdown()" (click)="toggleDropdown()">
        <div class="dropdown-icon">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-compact-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
            </svg>
        </div>
    </div>
</div>