@import '../../../_globals'
@import '../../rete-modules/_rete_variables'
    
$output-container-width: 440px
$output-container-min-height: 40px
$output-title-width: calc( #{$output-container-width} / 2)

$output-border-color: #707070
$output-border-radius: 10px
$output-border-width: 2px
    
*
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
.output-container
    max-width: $output-container-width
    min-height: $output-container-min-height

    border: $color-default 5px outset

    margin: 10px
    overflow: hidden

    .title-container
        max-width: $output-title-width
        height: 40px
        margin: -$border-thickness
        display: flex
        border: $color-default $border-thickness outset

        .title
            margin: auto
            padding: 0px 10px
            text-align: center

            font-size: 20px
            text-emphasis: bold
            text-align: center

            &.critical-path
                background-image: repeating-linear-gradient(-45deg, transparent 0 $pinstripe-width,  $critical-path-highlight $pinstripe-width calc( 2 * #{$pinstripe-width}))

    &.resource, .title-container
        border-color: $resource-highlight
        .title-container
            border-color: $resource-highlight
            background-color: $resource-highlight

    &.crafter, .title-container
        border-color: $crafting-highlight
        .title-container
            border-color: $crafting-highlight
            background-color: $crafting-highlight

    &.output, .title-container
        border-color: $output-highlight
        .title-container
            border-color: $output-highlight
            background-color: $output-highlight

    &.custom, .title-container
        border-color: $custom-highlight
        .title-container
            background-color: $custom-highlight

    &.minecraft, .title-container
        border-color: $minecraft-highlight
        .title-container
            background-color: $minecraft-highlight
        
    .id-container
        width: 25px
        height: 25px
        margin: -$border-thickness
        background-color: #EEEEEE
        border: $color-default $border-thickness outset

        p
            width: 100%
            height: 100%
            padding: auto
            text-align: center
            font-size: 11px

    .data-container
        margin-top: $border-thickness
        height: auto
        display: flexbox

        .data-input-container
            width: 50%
            float: left

        .data-output-container
            width: 50%
            float: right

        .node-rate-text
            width: 65%
            float: left

        input
            width: 35%
            height: auto
            margin: auto
            background-color: $color-default-highlight
            border: 2px outset $color-default
            text-align: center

        .node-rates
            height: auto
            width: 90%
            margin: 5px auto

    .dropdown-container
        width: calc( 100% - #{$border-thickness} * 2 )
        height: 20px
        margin: auto
        margin-bottom: $border-thickness
        margin-top: $border-thickness

        background-color: $color-default
        border: $color-default $border-thickness outset

        cursor: pointer

        &:hover
            border-color: lighten($color-default, 15% )
            background-color: lighten($color-default, 10%)

        &:active
            border-style: inset

        .dropdown-icon
            width: 40px
            height: 10px
            margin: auto
            svg
                color: #fff
                margin-top: -50%
                width: 200%
                text-align: center


