@import '../../../../_globals'

.node-item
    width: 100%
    height: 100%
    background-color: #ff0
    border: $border-thickness outset $color-default
    position: relative
    overflow: hidden

    cursor: pointer

    .background-image
            position: absolute
            width: 100%
            height: 100%
            top: 10px
            right: 0
            z-index: 0

            svg
                color: $color-default-highlight
                margin: 10%
                width: 80%
                height: 80%

    .node-item-title
        height: 35px
        position: absolute
        top: -$border-thickness
        right: -$border-thickness
        width: calc(100% + #{2 * $border-thickness})

        border: $border-thickness outset $color-default
        border-bottom: 0px

        text-align: center
        padding-top: 4px

    &.resource
        background-color: $resource-selected
        border-color: $resource-highlight
        .node-item-title
            background-color: $resource-highlight
            border-color: $resource-highlight

    &.crafter
        background-color: $crafting-selected
        border-color: $crafting-highlight
        .node-item-title
            background-color: $crafting-highlight
            border-color: $crafting-highlight

    &.output
        background-color: $output-selected
        border-color: $output-highlight
        .node-item-title
            background-color: $output-highlight
            border-color: $output-highlight

    &.custom
        background-color: $custom-selected
        border-color: $custom-highlight
        .node-item-title
            background-color: $custom-highlight
            border-color: $custom-highlight


    .node-item-body
        margin-top: 35px
        pointer-events: none
