<div class="inventory-wrapper">
    <img class="inventory-visual" src="./assets/images/minecraft_inventory_window.png">
    <div class="inventory-offset">
        <div *ngFor="let item of minecraftItems" [ngStyle]="GetGridStyle(item)">
            <app-inventory-item [minecraftItem]='item'></app-inventory-item>
        </div>
    </div>
    <div class='refresh-button-container' (click)="Refresh()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
          </svg>
    </div>
</div>