@import '../../../globals'
    
.inventory-wrapper
    position: relative
    width: calc(100% - #{$module_margin_left} )
    height: $resource-children-height
    margin: 10px
    padding: 4%

    .inventory-visual
        position: absolute
        background: url( '/assets/images/Background.png' ) no-repeat
        background-size: 100%
        width: 100%
        height: 100%
        top: 0px
        bottom: -10px
        left: 0px

    .inventory-offset
        position: relative
        display: grid
        height: 100%

        grid-template-rows: [top-start] 1fr [ top-end mid-start] 1fr [mid-end bot-start] 1fr [bot-end] .2fr [hotbar-start] 1fr [hotbar-end]
        grid-template-columns: repeat(9, 1fr)
        grid-gap: 5px

    .refresh-button-container
        position: absolute
        top: 2.5px
        right: 2.5px
        width: 30px
        height: 30px

        background: #fff
        border: outset 2.5px #000
        border-radius: 15px

        cursor: pointer

        &:hover
            background: $resource-highlight

        &:active
            background: darken($resource-highlight, 25% )
            border-style: inset

        svg
            width: 100%
            height: 100%
            padding: 2.5px
            margin-top: -2px
                
    