@import '../_globals'

#fullsite
    display: flex
    background-color: #ddd

#workspace
    width: $grid-width
    height: 100%
    flex-shrink: 2
    flex-direction: column
    display: block

#resource-workspace
    position: relative
    height: calc( 100% - #{$grid-height})

#node-browser-workspace
    width: 50%
    height: 100%

#minecraft-inventory-workspace
    width: 50%
    height: calc( 100% - 2*10px)
    margin: auto

#resultspace
    width: $output-width
    height: 100%