<div class="fill-width fill-height">
    <div  *ngIf='!enteredId' class="manual-id-input-container">
        <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing">Enter ID</span>
            </div>
            <input type=text oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                placeholder="123456789"
                [(ngModel)]="idString"
                class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">

        </div>
        <button class="btn btn-primary submit" (click)="submit()" [disabled]="submitDisabled()">
            Submit
        </button>
    </div>

    <div id="fullsite" *ngIf='enteredId' class="fill-width fill-height">
        <div id="workspace">
            <app-grid></app-grid>
            
            <div id="resource-workspace">
                <div id="node-browser-workspace" class="left">
                    <app-node-browser></app-node-browser>
                </div>
                <div id="minecraft-inventory-workspace" class="right">
                    <app-inventory-display></app-inventory-display>
                </div>
            </div>
        </div>
        <div id="resultspace">
            <app-output-container></app-output-container>
        </div> 
    </div>
</div>

