.minecraft-item
    width: 100%
    padding: 2px
    position: relative

    cursor: grab

    &.disabled
        cursor: not-allowed

    .inventory-count
        position: absolute
        bottom: -2px
        right: 2px
        font-size: 24px
        font-weight: bolder
        color: #fff
        -webkit-text-stroke: 2px black