<div class="minecraft-item" [ngClass]="isValid ? '' : 'disabled'" [draggable]="isValid" (dragstart)="OnDrag($event)">
    <item-image [selectedItem]="item"></item-image>
    <div class="text-node-title inventory-count ">{{minecraftItem.slotCount}}</div>
</div>