<div class="image-container" [ngClass]="criticalPath ? 'criticalPath' : ''">
    <div class="pixelated">
        <img class="image" src="./assets/images/transparent_32x32.png" [ngStyle]="background">
    </div>
</div>