@import '../../rete-modules/_rete_variables'
@import '../../../_globals'

.image-container
    width: min( 100%, #{$sprite-width})
    margin: auto
    position: relative
    padding: 2px
    border-radius: 100%

    &.criticalPath
        box-shadow: 0px 0px 10px $critical-path-highlight-alpha
        background-color: $critical-path-highlight-alpha
        
    .image
        width: min( 100%, #{$sprite-width})
        height: min( 100%, #{$sprite-width})
        margin: auto
        display: block
        background-image: url( '../../../assets/images/inventory_sprites.png' )
        background-size: 1600% 3500%
        user-drag: none
        user-select: none
        -moz-user-select: none
        -webkit-user-drag: none
        -webkit-user-select: none
        -ms-user-select: none
        pointer-events: none

