@import '../../../../_globals'
    
.rate-container
    display: inline-block
    width: 100%
    height: 100%

    .helper-text
        width: 100%
        font-size: 12px
        text-align: center
        color: $color-default
