<div class="rate-container">
    <input class="styled-input" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
    [(ngModel)]="perHourString"
    [readonly]="readonly"
    [placeholder]="placeholder"
    (change)="onInputChange()">
    <div class="helper-text">
        {{this.text}}
    </div>
</div>