@import ../../rete_variables
@import ../../../../_globals

.node
    position: relative
    min-width: $node-width
    height: $node-height

    border: $node-border-width outset $color-default
    background-color: $node-default-background-color

    padding-bottom: $node-footer-height

    box-sizing: content-box
    user-select: none
    curson: pointer

    &.resource
        border-color: $resource-highlight
        .title-container, .title, .node-type
            background-color: $resource-highlight
            border-color: $resource-highlight
        .node-type, .node-id
            border: 5px inset $resource-highlight
        &:hover
            background: $resource-selected
        &.slected
            background: $resource-selected

    &.minecraft
        border-color: $minecraft-highlight
        .title-container, .title, .node-type
            background-color: $minecraft-highlight
            border-color: $minecraft-highlight
        .node-type, .node-id
            border: 5px inset $minecraft-highlight
        &:hover
            background: $minecraft-selected
        &.slected
            background: $minecraft-selected

    &.crafter
        border-color: $crafting-highlight
        .title-container, .title, .node-type
            background-color: $crafting-highlight
            border-color: $crafting-highlight
        .node-type, .node-id
            border: 5px inset $crafting-highlight
        &:hover
            background: $crafting-selected
        &.selected
            background: $crafting-selected
    &.output
        border-color: $output-highlight
        .title-container, .title, .node-type
            background-color: $output-highlight
            border-color: $output-highlight
        .node-type, .node-id
            border: 5px inset $output-highlight
        &:hover
            background: $output-selected
        &.selected
            background: $output-selected

    &.custom
        border-color: $custom-highlight
        .title-container, .title, .node-type
            background: $custom-highlight
            border-color: $custom-highlight
        .node-type, .node-id
            border: 5px inset $custom-highlight
        &:hover
            background: $custom-selected
        &.selected
            background: $custom-selected

    &.critical-path
        .title-container
            .title-critical-path
                background-image: repeating-linear-gradient(-45deg, transparent 0 $pinstripe-width,  $critical-path-highlight $pinstripe-width calc( 2 * #{$pinstripe-width}))


    .title-container
        position: absolute
        top: -$node-title-height
        right: -$node-border-width
        width: $node-title-width
        height: $node-title-height
        border: 5px outset $color-default
        border-bottom: 0px
        display: flex

        .resource
            background: $resource-highlight
            border-color: $resource-highlight
        .crafter
            background: $crafting-highlight
        .output
            background: $output-highlight
        .custom
            background: $custom-highlight

        .shared
            width: 20%
            z-index: 1

        .title
            width: 60%
            z-index: 1
            color: $color-default-dark
            margin: 5px auto
            border-radius: 5px
            text-align: center
        .star-container
            width: 20%
            height: auto
            z-index: 1
            margin-top: $output-focus-glyph-margin
            margin-right: $output-focus-glyph-margin
            .star
                width: 100%
                height: 100%

                svg
                    margin-right: 3px
                    width: 25px
                    height: 25px
                    float: right
                    color: $output-focus-glyph-color

        .title-critical-path
            position: absolute
            top: 0
            right: 0
            width: 100%
            height: 100%


    .body-container
        position: relative
        width: 100%
        height: 100%

        .background-image
            position: absolute
            width: 100%
            height: 100%
            top: 0
            right: 0
            z-index: 0

            svg
                color: $color-default-highlight
                margin: 10%
                width: 80%
                height: 80%

            .custom-image
                width: 30%
                margin: auto
                margin-top: - 5px

                svg
                    margin: 0
                    width: 100%

        .content
            position: relative
            width: 100%
            height: 100%
            z-index: 100

            .output
                width: 100%
                float: right
                text-align: right
                .socket-info
                    width: calc( 100% - #{$socket-size})
                    float: left
                    padding-top: $socket-margin
                    .output-title
                        width: 50%
                        padding-top: 2.5px
                        float: right
                    

            .inputs
                width: 100%
                .input
                    text-align: left
                .input-title,.output-title
                    vertical-align: middle
                    display: inline-block
                    font-family: sans-serif
                    font: 14px
                    margin: $socket-margin
                    line-height: $socket-size
                    &[hidden]
                        display: none

                .input-control
                    z-index: 1
                    width: calc( 100% - #{$socket-size + 2*$socket-margin})
                    vertical-align: middle
                    display: inline-block

            .controls
                width: 100%
                height: 100%
                padding-top: 10%


    .node-footer
        position: absolute
        bottom: 0px
        width: 100%
        height: $node-footer-height
        text-transform: capitalize

        .node-type
            position: absolute
            width: 50%
            height: 100%
            left: 25%
            border-bottom: 0px

            .node-type-text
                text-align: center

        .node-id
            position: absolute
            right: 0px
            width: 20px
            height: 20px
            border-right: 0px
            border-bottom: 0px

            .node-id-text
                margin-top: -1px
                text-align: center

    // Custom node styling
    &.custom
        width: $node-custom-width
        height: $node-custom-height

        .body-container
            width: 100%
            height: 100%

            .content
                height: 100%
                display: grid
                grid-template-columns: 40% 20% 40%

                .clear
                    clear: none
            
                .outputs
                    grid-row: 1
                    grid-column: 3
                    width: 100%
                    float: right
                    display: inline-block
                    .output
                        margin: auto
                        .output-title
                            margin: auto
                        .output-rate-container
                            width: 45%
                            float: right

                .controls
                    grid-row: 1
                    grid-column: 2
                    float: right

                .inputs
                    grid-row: 1
                    grid-column: 1
                    width: 100%
                    float: left


                
