<div class="node" [ngClass]="[onCriticalPathClass(), selected(), isCustomClass(), node.name] | kebab">
    <div class="title-container pixelated minecraft-background">
        <div class="shared">
            
        </div>
        <div class="title text-node-title pixelated minecraft-background">
            {{node.data.name}}
        </div>
        <div class="star-container">
            <div class="star" *ngIf="isOutputFocused()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
            </div>
        </div>
        <div class='title-critical-path'>
        </div>
    </div>

    <div class="body-container">
        <div class="background-image">
            <div class="resource-image" *ngIf="getType() == 'resource' || getType() == 'minecraft'">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bricks" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h15a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5H2v-2H.5a.5.5 0 0 1-.5-.5v-3A.5.5 0 0 1 .5 6H2V4H.5a.5.5 0 0 1-.5-.5v-3zM3 4v2h4.5V4H3zm5.5 0v2H13V4H8.5zM3 10v2h4.5v-2H3zm5.5 0v2H13v-2H8.5zM1 1v2h3.5V1H1zm4.5 0v2H15V1H5.5zM1 7v2h3.5V7H1zm4.5 0v2h5V7h-5zm6 0v2H15V7h-3.5zM1 13v2h3.5v-2H1zm4.5 0v2h5v-2h-5zm6 0v2H15v-2h-3.5z"/>
                </svg>
            </div>

            <div class="crafting-image" *ngIf="getType() == 'crafter'">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hammer" viewBox="0 0 16 16">
                    <path d="M9.812 1.952a.5.5 0 0 1-.312.89c-1.671 0-2.852.596-3.616 1.185L4.857 5.073V6.21a.5.5 0 0 1-.146.354L3.425 7.853a.5.5 0 0 1-.708 0L.146 5.274a.5.5 0 0 1 0-.706l1.286-1.29a.5.5 0 0 1 .354-.146H2.84C4.505 1.228 6.216.862 7.557 1.04a5.009 5.009 0 0 1 2.077.782l.178.129z"/>
                    <path fill-rule="evenodd" d="M6.012 3.5a.5.5 0 0 1 .359.165l9.146 8.646A.5.5 0 0 1 15.5 13L14 14.5a.5.5 0 0 1-.756-.056L4.598 5.297a.5.5 0 0 1 .048-.65l1-1a.5.5 0 0 1 .366-.147z"/>
                  </svg>
            </div>

            <div class="output-image" *ngIf="getType() == 'output'">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-minecart" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 15a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8-1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM.115 3.18A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 14 12H2a.5.5 0 0 1-.491-.408l-1.5-8a.5.5 0 0 1 .106-.411zm.987.82l1.313 7h11.17l1.313-7H1.102z"/>
                </svg>
            </div>

            <div class="custom-image" *ngIf="getType() == 'custom'">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16">
                    <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                  </svg>
            </div>
        </div>

        <div class="content">
            <div class="outputs">
                <div class="output" *ngFor="let output of outputs">
                    <div class="socket-info">
                        <div class="output-title text-socket">{{output.name}}</div>
                        <div class="output-rate-container" *ngIf="isCustom()">
                            <input class="output-rate styled-input" type="text" readonly="true" value="{{output.data.rate | number: '1.2-2'}}">
                        </div>
                    </div>
                    <rete-socket rete-socket [io]="output" [socket]="output.socket"></rete-socket>
                </div>
            </div>

            <div class="clear"></div>
            
            <div class="controls" *ngFor="let control of controls" [rete-control]="control"></div>
            <div class="inputs">
                <div class="input" *ngFor="let input of inputs">
                    <rete-socket rete-socket [io]="input" [socket]="input.socket"></rete-socket>
                    <div class="input-title text-socket" *ngIf="!input.showControl()">{{input.name}}</div>
                    <div class="input-control" *ngIf="input.showControl()" [rete-control]="input.control"></div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="node-footer">
        <div class="node-type">
            <div class="node-type-text text-node-type caps">
                {{node.meta.type}}
            </div>
        </div>

        <div class="node-id">
            <div class="node-id-text text-node-id">
                {{node.id}}
            </div>
        </div>
    </div>
</div>