@import ../rete_variables

// All are define important to override the inline styling that is given to them
.socket
    display: inline-block !important
    cursor: pointer !important
    border: 1px solid $socket-border-color !important
    border-radius: $socket-size / 2 !important
    width: $socket-size !important
    height: $socket-size !important
    margin: $socket-margin !important
    vertical-align: middle !important
    z-index: 2 !important
    background: $socket-color !important
    box-sizing: border-box !important
    &:hover
        border-width: 4px !important

    &.output
        margin-right: -$socket-size / 2 !important

    &.input
        margin-left: -$socket-size / 2 !important

    &.output, &.input
        &.Stone
            background: get-item-color(Stone) !important
            border-color: get-item-border(Stone) !important
        &.Grass
            background: get-item-color(Grass) !important
            border-color: get-item-border(Grass) !important
        &.Dirt
            background: get-item-color(Dirt) !important
            border-color: get-item-border(Dirt) !important
        &.Cobblestone
            background: get-item-color(Cobblestone) !important
            border-color: get-item-border(Cobblestone) !important
        &.Planks
            background: get-item-color(Planks) !important
            border-color: get-item-border(Planks) !important
        &.Logs
            background: get-item-color(Logs) !important
            border-color: get-item-border(Logs) !important