@import '../../../globals'
@import '../rete_variables'
    
.grid-wrapper
    height: $grid-height
    border: 5px outset $color-default-dark
    position: relative
    background-color: #888

#delete-container
    position: absolute
    right: 10px
    bottom: 10px

    width: $delete_button_width
    height: $delete_button_height

    .button
        width: 100%
        height: 100%
        border-color: $critical-path-highlight
        background-color: $critical-path-highlight

        &.disabled
            color: darken($critical-path-highlight, 25%)
            border: 5px inset desaturate($critical-path-highlight, 25%)
            background-color: #fff0

        p
            font-size: 20px
            margin: 4px
            text-align: center

.gird-toolbar-buttons
    width: calc( #{$button_height} + 5px * 3)
    background-color: $color-default-dark

    .toolbar-button
        display: block
        margin: 5px

#grid-toolbar-container
    position: fixed
    height: calc(#{$grid-height} - 10px)
    width: auto
    min-width: 50px
    z-index: 1
    background-color: $color-default-dark

    display: flex

    .collapsing
        background-color: #CCCCCC
    
#grid-toolbar-popout
    width: 100%
    height: 100%
    background-color: #CCCCCC

    div
        height: $button_height
        margin: 5px

        p
            font-size: 20px
            font: 'Segoe UI'
            font-weight: bold
            display: inline-block
            vertical-align: middle
            color: #404040

#expandToolbar
    position: absolute
    left: 0px
    bottom: 0px

label
    display: inline-block
    width: auto
    margin-bottom: 0px

