<div class="grid-wrapper module-margin" (dragover)="dragOver($event)" (drop)="onDrop($event)">
    <div id="grid-toolbar-container" class="pixelated minecraft-background">
        <div class="gird-toolbar-buttons">

            <app-icon-button class="toolbar-button" [icon]="'bi-aspect-ratio'" 
                [strokes]="['M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0zm-.5 11.707-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793z']"
                [disabled]="!completePath"
                (onClick)="startCollapseSequence()">
            </app-icon-button>

            <app-icon-button class="toolbar-button" [icon]="'bi-aspect-ratio'" 
                [strokes]="['M0 3.5A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5v-9zM1.5 3a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z', 
                'M2 4.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H3v2.5a.5.5 0 0 1-1 0v-3zm12 7a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H13V8.5a.5.5 0 0 1 1 0v3z']"
                (onClick)="scaleToFit()">
            </app-icon-button>
            
            <app-icon-button id="screen-capture" class="toolbar-button" [icon]="'bi-download'" 
                [strokes]="['M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z',
                'M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z']"
                
                (onClick)="captureScreen()">
            </app-icon-button>

            <app-icon-button id="expandToolbar" class="toolbar-button" [icon]="'bi-three-dots'" 
                [strokes]="['M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z']"
                
                data-toggle="collapse"
                data-target="#grid-toolbar-popout">
            </app-icon-button>


        </div>

        <div id="grid-toolbar-popout" class="popout-window collapse">
            <div>
                <p>Collapse To Node</p>
            </div>
            <div>
                <p>Show Workspace</p>
            </div>
            <div>
                <p>Download Image</p>
            </div>
        </div>  

    </div>
    
    <div #nodeEditor class="node-editor"></div>

    <div id="delete-container" (mouseup)="deleteNode()">
        <label class="button" [ngClass]="anyNodeSelected() ? ['danger', 'pixelated', 'minecraft-background'] : 'disabled'">
            <p>Delete</p>
        </label>
    </div>
</div>




