<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Custom Node</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>

        <div class="form-group">
            <label for="nodeNameEntry">Node Name:</label>
            <input id="nodeNameEntry" class="form-control form-control-lg" placeholder="Custom Node" type="text" [formControl]="nodeNameControl">

        </div>

        <div *ngFor="let row of rows">
            <div class="form-row">

                <div *ngFor="let col of columns">

                    <div class="form-check">
                        <label class="form-check-label" for="{{'nodeImageRadio' + row + col}}">
                            <item-image [selectedItem]="getItem(row, col)" [criticalPath]="false"></item-image>
                        </label>
                        <input class="form-check-input" type="radio" name="nodeImageRadios" 
                            id="{{'nodeImageRadio' + row + col}}" 
                            value="{{row + ',' + col}}" 
                            (click)="nodeImageRadialClicked($event)" 
                            [attr.checked]="(row == 0 && col == 0) ? '' : null">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="shareLevel">Share:</label>
            <select class="form-control" id="shareLevel" [formControl]="nodeShareControl">
                <option>Personal</option>
                <option>Group</option>
                <option>Classroom</option>
            </select>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="submitCustomNode()">Create</button>
</div>