@import 'globals'
@import './src/app/rete-modules/nodes/sockets'
  
/* You can add global styles to this file, and also import other style files */
html, body, app-root
  display: block
  overflow: hidden
  height: 100%
  font-weight: 550
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

.fill-height
  height: 100%

.fill-width
  width: 100%

.right
  float: right

.left
  float: left

.float-fix
  overflow: auto

.highlight
  background-color: #0f0f
  padding: .2em 0px

.no-select
  user-select: none

.module-margin
  margin: $module-margin-top 0px 0px $module-margin-left

.clear
  clear: both

.styled-input
  width: 100%
  height: 20px
  background: $color-default-highlight
  border-radius: 10px
  border: 1px $color-default solid

  text-align: center

  ::placeholder
    color: #999
    opacity: 1

.text-button
  font-size: 1vh
  font-weight: bold
  color: #404040

.text-node-title
  font-size: 18px
  font-weight: bold
  color: #404040

.text-node-type
  font-size: 10px
  font-weight: bold
  color: #2a2a2a

.text-per-hour
  font-size: 12px
  color: $color-default

.text-per-hour-placeholder
  font-size: 8px
  color: #aaaaaa

.text-node-id
  font-size: 11px
  color: $color-default

.text-socket
  font-size: 11px
  font-color: $color-default
  text-shadow: .25px .5px #00000022
  -webkit-text-stroke-width: .2px
  -webkit-text-stroke-color: white

  &.critical-path
    font-color: $critical-path-highlight

.button
  height: 100%
  margin-right: 5px
  color: $color-default-dark
  border: 5px outset
        
  &:focus
      border: inset

.pixelated
    image-rendering: pixelated

@-moz-document url-prefix()
.pixelated
    image-rendering: crisp-edges

.minecraft-background
  background-image: url("./assets/images/Background.png")
  background-repeat: repeat
  background-blend-mode: multiply

.scrollable
  overflow-y: auto

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'
