<div class="output-wrapper module-margin">
    <!-- <iframe src="https://d3t8ocg7x9khtz.cloudfront.net/outputBrowser" frameborder="0" id="outputIframe">
    </iframe> -->
    <!-- <iframe src="https://humingamelab.com/minecraft/assignments/bot" frameborder="0" id="outputIframe">
    </iframe>
    <h3>{{ getCriticalPath() }}</h3>
    <h3>{{ getCriticalPathObjects() }}</h3> -->

    <div class="tab-bar">
        <button class="button tab-button pixelated minecraft-background" [ngClass]="isFocusSelected ? 'active' : ''" (click)="onFocusClicked()">Focused</button>
        <button class="button tab-button pixelated minecraft-background" [ngClass]="!isFocusSelected ? 'active' : ''" (click)="onGraphClicked()">Graphs</button>
    </div>
    
    <div class="output-data-wrapper">
        <div id="focusedNodes" [ngClass]="isFocusSelected ? '' : 'hidden'">
            <div class="subtab-bar pixelated minecraft-background" [ngClass]="!hasSelectedNode ? 'hidden' : ''"  >
                <app-icon-button class="back-button" [icon]="'bi-arrow-left'" 
                    [strokes]="['M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z']"
                    (onClick)="popNode()">
                </app-icon-button>

                <app-icon-button class="up-button" [icon]="'bi-arrow-up'" 
                    [strokes]="['M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z']"
                    (onClick)="topNode()">
                </app-icon-button>
            </div>

            <div class="node-area scrollable">
                <div *ngIf="!hasSelectedNode">
                    <div *ngFor="let node of markedNodes">
                        <app-output-item [node]="node" (dropdownPressed)="dropdownCallback($event)"></app-output-item>
                    </div>
                </div>
            
                <div *ngIf="hasSelectedNode">
                    <div *ngFor="let child of getSelectedChildren()">
                        <app-output-item [node]="child" (dropdownPressed)="dropdownCallback($event)"></app-output-item>
                    </div>
                </div>
            </div>
        </div>

        <div id="graphs" class="scrollable" [ngClass]="isFocusSelected ? 'hidden' : ''">
            <app-graph-view style="display: block;"></app-graph-view>
        </div>
    </div>

</div>
