@import ../../../globals
    
$tab-height: 60px

.hidden
    display: none !important
    
.output-wrapper
    position: relative
    height: calc(100% - 20px)
    margin: 10px
    border: 5px outset $color-default-dark
    background-color: $color-default

    .tab-bar
        width: 100%
        display: flexbox
        flex-direction: column
        @media ( max-width: 1250px )
            flex-direction: row

        background-color: $color-default-dark

        .tab-button
            width: calc( 50% - 10px )
            height: calc( 100% - 10px )
            @media ( max-width: 1250px )
                width: calc(100% - 10px)
                height: calc(50% - 10px)

            font-style: bold
            font-size: 20px
            text-align: center

        .button
            margin: 5px
            background-color: $color-default-highlight
            border-color: $color-default-highlight
            
            &:focus, &.active
                border-color: $resource-highlight
                background-color: $resource-highlight


    .output-data-wrapper
        height: calc( 100% - 60px)
        @media ( max-width: 1250px )
            height: calc( 100% - 110px)

.bottom
    position: absolute
    bottom: 0
    left: 0

#focusedNodes
    height: 100%
    max-height: 100%
    display: flex
    flex-flow: column

    .subtab-bar
        width: 100%
        height: $tab-height
        display: inline-flex
        background-color: $color-default-highlight
        padding: 5px

        .back-button
            margin-right: 5px

        .up-button
            float: right

    .node-area
        flex-grow: 1

#graphs
    height: 100%
    max-height: 100%
    overflow-x: hidden